<div class="footer-top">
  <p>Trust é tudo, menos banco. Soluções financeiras 100% digitais e integradas</p>
</div>

<div id="footer">

  <div>
    <h4>Trust</h4>
    <ul>
      <li *ngFor="let item of trustFooterLinks">
        <a title="{{item.text}}" href="{{item.url}}">{{item.text}}</a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Para sua empresa</h4>
    <ul>
      <li *ngFor="let item of ForYourCompany">
        <a title="{{item.text}}" href="{{item.url}}">{{item.text}}</a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Seja um Truster!</h4>
    <ul>
      <li>
        <a title="Franquias">Franquias</a>
      </li>
    </ul>
  </div>

  <div>
    <a title="Trusthub" class="logo">
      <img src="/assets/trust-white.svg">
    </a>

    <div id="social-icones">
      <a title="Facebook" href="https://www.facebook.com">
        <img src="/assets/icon-facebook.svg">
      </a>
      <a title="Linkedin" href="https://br.linkedin.com/">
        <img src="/assets/icon-linkedin.svg">
      </a>
      <a title="Instagram" href="https://www.instagram.com">
        <img src="/assets/icon-instagram.svg">
      </a>
      <a title="Fale conosco" href="mailto:email@email.com">
        <img src="/assets/icon-email.svg">
      </a>
    </div>
  </div>
</div>