<div class="card">
  <button class="button">PEÇA JÁ A SUA <img src="/assets/icon-arrow-right.svg"></button>
  <div>
    <div>
      <img src="{{item.maquininha}}">
    </div>
    <div>
      <h4>{{item.title}}</h4>
      <div>
        <p>
          {{item.parcelas}}x R$ {{item.valorParcela}}
        </p>
        <p>
          à vista por R$ {{item.totalPrice}}
        </p>
      </div>
      <p>
        {{item.description}}
      </p>
    </div>
  </div>
  <button class="button">PEÇA JÁ A SUA <img src="/assets/icon-arrow-right.svg"></button>
</div>