<div class="card">
  <button class="button">PEÇA JÁ A SUA <img src="/assets/icon-arrow-right.svg"></button>
  <div>
    <div>
      <img src="assets/{{item.modelo.toLowerCase()}}-2.png">
    </div>
    <div>
      <h4>{{item.modelo}}</h4>
      <div>
        <p>
          12 x R$ {{item.preco / 12}}
        </p>
        <p>
          à vista por R$ {{item.temDesconto ? item.precoComDesconto : item.preco }}
        </p>
      </div>
      <p>
        {{item.descricao}}
      </p>
    </div>
  </div>
  <button class="button">PEÇA JÁ A SUA <img src="/assets/icon-arrow-right.svg"></button>
</div>