/* You can add global styles to this file, and also import other style files */

body, html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  padding: .5rem .3rem;
  text-decoration: none;
  color: white;
}

.font-green {
  color: #4EA854;
}

@media screen and (min-width: 600px) {
	.container-fluid {
		padding: 0 20%;
	}
}